.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c200d3;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: rgb(41, 41, 41);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f39ffb; /* subtle highlight on hover */
}

.nav-logo img {
  height: 40px;
  cursor: pointer;
}
